/**
 * Magiccart 
 * @category 	Magiccart 
 * @copyright 	Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license 	http://www.magiccart.net/license-agreement.html
 * @Author:Magiccart<team.magiccart@gmail.com>
 * @@Create Date:2014-04-26 11:18:55
 * @@Modify Date: 2015-07-30 23:46:06
 * @@Function:*/
.custom-menu{}
.border-bottom{position: relative;}
.magicmenu{text-align: center; border-width: 0 0 0px 0; border-style: solid; border-color: transparent;}
.magicmenu .nav-desktop{position:static;margin:0;}
.magicmenu .nav-desktop .level0{margin:0px; display: inline-block; padding: 22px 0}
.magicmenu .nav-desktop .level0.active > a{position: relative;}
/*.magicmenu .nav-desktop .level0 > a:after{content: "|"; font-size: 10px; line-height: 10px; color: #c7c7c7; display: inline-block; padding-left: 20px; vertical-align: middle;}*/
.magicmenu .nav-desktop .level0.hasChild > a:after{padding-left: 9px}
.magicmenu .nav-desktop .level0:last-child > a:after{display: none;}
.magicmenu .nav-desktop .level0.logo.display{display: none;border: 0;}
.header-container-fixed .magicmenu .nav-desktop .level0.logo.display{}
.header-container-fixed .magicmenu .nav-desktop .level0.logo.display a{border: 0;padding: 10px;width: 71px;}
.header-container-fixed .magicmenu .nav-desktop .level0.logo.display a img{max-width: 100%;}
.magicmenu .nav-desktop .level0 > a:hover .short_desc{color:#888888;}
.magicmenu .nav-desktop .level0 .level-top{margin: 0 25px; text-transform:uppercase;position: relative;text-decoration:none;outline:medium none;display:block;text-align:center;font-weight: bold; z-index: 10}
.magicmenu .nav-desktop .level0.hasChild .level-top{margin-right: 10px}
.magicmenu .nav-desktop .level0:last-child .level-top{margin-right: 0}
.magicmenu .nav-desktop .level0:first-child .level-top{margin-left: 0}
.magicmenu .nav-desktop .level0.hasChild .level-top span:first-child:after{content: "\f0d7"; font-family: "FontAwesome";font-size: 10px;padding-left: 4px;vertical-align: 0; line-height: 10px}
.magicmenu .nav-desktop .level0.active .level-top > span, .magicmenu .nav-desktop .level0:hover .level-top > span{color: #b99867}
.magicmenu .nav-desktop .level0.active .level-top:after, .magicmenu .nav-desktop .level0:hover .level-top:after
.magicmenu .nav-desktop .level0 .level-top span.icon-text{outline:medium none;}
.magicmenu .nav-desktop .level0 .level-top span.cat_label{right: 0;top: 10px;}
.magicmenu .nav-desktop .level0 .level-top > span{padding: 0px;white-space: nowrap;font-size:17px;vertical-align: top; font-weight: normal; color: #373737; line-height: 20px}
.magicmenu .nav-desktop .level0.home .level-top .icon-home{display:none}
.magicmenu .nav-desktop .level0.home .level-top .icon-home{font-size:17px}
.magicmenu .nav-desktop .level0 .full-width{position: absolute; right: 0; left: 0; text-align: center;}
.magicmenu .nav-desktop .level0.cat.last .level-top-mega .children.level1 > a{margin-top: 28px}
.magicmenu .nav-desktop .level0 .full-width{position: absolute; right: 0; left: 0; text-align: center;}
.magicmenu .nav-desktop .level0 .level-top-mega.parent-full-width{display: inline-block; position: static;}

.magicmenu .nav-desktop .level0 .level-top-mega,.magicmenu .nav-desktop .level0 .full-width,
.magicmenu .nav-desktop .level0.dropdown > .level0{position:absolute;z-index:99999;transition:all 300ms ease-in-out 0s;-moz-transition:all 300ms ease-in-out 0s;-webkit-transition:all 300ms ease-in-out 0s;-o-transition:all 300ms ease-in-out 0s;display:block;opacity:0;top: calc(100% + 50px);visibility:hidden; padding-left: 25px; padding-right: 15px; padding-bottom: 15px; background-color: #373737}
.magicmenu .nav-desktop .level0 .level-top-mega:before,.magicmenu .nav-desktop .level0 .full-width:before,
.magicmenu .nav-desktop .level0.dropdown > .level0:before{content: ""; height: 30px; position: absolute; width: 100%; top: -30px; background-color: transparent; left: 0}
.magicmenu .nav-desktop .level0:hover .level-top-mega,
.magicmenu .nav-desktop .level0.dropdown:hover > .level0,
.magicmenu .nav-desktop .level0:hover .full-width{opacity:1;top: calc(100% + 10px);visibility:visible}


.magicmenu .nav-desktop .level0 .level-top:before{opacity: 0; visibility: hidden; position: absolute; content: ""; top: calc(100% + 65px); left: calc(50% - 10px); border-width: 10px; border-color: transparent; border-bottom-color: #373737; border-style: solid; z-index: 9; transition:all 300ms ease-in-out 0s;-moz-transition:all 300ms ease-in-out 0s;-webkit-transition:all 300ms ease-in-out 0s;-o-transition:all 300ms ease-in-out 0s;}
.magicmenu .nav-desktop .level0.hasChild:hover .level-top:before, .magicmenu .nav-desktop .level0.home:hover .level-top:before{opacity: 1; visibility: visible; top: calc(100% + 12px);}


/**
	dropdown
**/
.magicmenu .nav-desktop .level0.dropdown > .level0, .magicmenu .nav-desktop .level0.ext .level-top-mega,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown > .level0{/*width: 16em;*/min-width: 14em;padding: 5px; background-color: #373737; box-shadow: 0 3px 10px rgba(156, 156, 156, 0.05); border-radius: 2px}
.magicmenu .nav-desktop .level0.dropdown .hasChild,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild {position: relative;}
.magicmenu .nav-desktop .level0.dropdown .hasChild > a:before,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild > a:before{ content: "";display: block;line-height: 30px;font-size: 14px;position: absolute;right: 10px;text-align: right;font-family: FontAwesome; color: #fff}
.magicmenu .nav-desktop .level0.dropdown .hasChild ul,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild ul { position: absolute; left: 50%; top: 0; opacity: 0;visibility: hidden; transform: scale(0); ;background-color: #373737;box-shadow: 0 0px 5px rgba(195, 195, 195, 0.15); padding: 5px;min-width: 13em;z-index: 1; transition:all 300ms ease-in-out 0s;-moz-transition:all 300ms ease-in-out 0s;-webkit-transition:all 300ms ease-in-out 0s;-o-transition:all 300ms ease-in-out 0s; border-radius: 2px}
.magicmenu .nav-desktop .level0.dropdown .hasChild:hover > ul,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild:hover > ul{opacity: 1;visibility: visible; transform: scale(1);}
.magicmenu .nav-desktop .level0.dropdown .level1 a,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .level1 a{display: block; line-height: 30px; text-align: left;}

.magicmenu .nav-desktop .level0.dropdown .level1:last-child a, .vmagicmenu .vmagicmenu-narrow .level0.dropdown .level1:last-child a{border-bottom: 0}
.magicmenu .nav-desktop .level0.dropdown .level1 a span{font-size: 14px; color: #fff; text-transform: capitalize; padding-left: 10px}
/*.magicmenu .nav-desktop .level0.dropdown .level1 ul li.level2 a{border-bottom: 1px dotted #cccccc;}*/
.magicmenu .nav-desktop .level0.dropdown .level1 ul li.level2:last-child a{border-bottom: 0}
.magicmenu .nav-desktop .level0.dropdown .level1 a:hover{background-color: #b99867}

.magicmenu .nav-desktop .level0.home .level-top-mega{padding: 5px; min-width: 10em; text-align: left; border-radius: 1px}
.magicmenu .nav-desktop .level0.home .level-top-mega a{line-height: 30px;text-transform: capitalize; display: block; padding-left: 10px}
.magicmenu .nav-desktop .level0.home .level-top-mega a:hover {background-color: #b99867}
.magicmenu .nav-desktop .level0.home .level-top-mega a span{font-size: 14px; color: #fff}
.magicmenu .nav-desktop .level0.home .level-top-mega div:last-child a{border: 0;}
.magicmenu .nav-desktop .level0 .level-top-mega .children a{text-align:left;text-decoration:none;font-size: 14px;text-transform: capitalize;}
.magicmenu .nav-desktop .level0 .level-top-mega .children .nav a{display: block;line-height: 32px;}
.magicmenu .nav-desktop .level-top a{color:#000;font-size:14px;text-decoration:none;text-align:left}
.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 > a{/*margin:28px 0 10px;*/}
.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 img{max-width:100%;height:auto;}
.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 > a{text-transform: uppercase;font-weight: bold; margin-top: 48px; margin-bottom: 3px; display: block;}
.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 .level1 a{display: block;line-height: 30px;}
.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 .level1 li.level2:last-child a{border-bottom: 0}
.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 .level1 a:hover > span{color: #b99867}
.magicmenu .nav-desktop .level0 .level-top-mega li.level1 a span{font-size: 18px; font-weight: bold; color: #fff }
.magicmenu .nav-desktop .level0 .level-top-mega li.children ul.level1 .level2 a span{font-size: 14px; color: #fff; font-weight: normal; }
.magicmenu .nav-desktop .level0 .level-top-mega li.children ul.level1 .level2 a > span:before{content: "\f0c8"; font-family: "FontAwesome"; color: #fff; font-size: 5px; margin-right: 10px; vertical-align: middle;}
.magicmenu .nav-desktop .level0 .level-top-mega .children .nav:last-child { border: 0 none;}
.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 img{margin-top: 30px;}
.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-top,.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-bottom{ padding: 30px 0 0;width:100%;clear:both}
.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-bottom{text-align: center;}
.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-bottom .img-responsive{display: inline;}
.magicmenu .nav-desktop .level0 .level-top-mega .content-mega-horizontal .cat-mega{padding-bottom: 30px;}
.magicmenu .nav-desktop .level0 .level-top-mega .mage-column{float:none;}
.magicmenu .nav-desktop .level0 .level-top-mega .mage-column.cat-mega{float:left;padding: 0; /*padding-right: 15px*/}
.magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children{float:left;text-align:left;padding: 0 0 0 10px; width:210px;}
.magicmenu .nav-desktop .level0 .level-top-mega .mage-column.mega-block-left{float:left;}
.magicmenu .nav-desktop .level0 .level-top-mega .mage-column.mega-block-right{float:left; overflow: hidden;}
.magicmenu .nav-desktop .level0 .level-top-mega .mage-column.mega-block-right img{margin-top: 30px;}
.mega-block-right h3{color: #dddddd; font-size: 14px; padding: 10px 0;text-align: center;text-transform: uppercase;}
.header .custom-menu .level-top-mega .magic-category{float: left;width: 200px;padding-right: 30px;}
.header .custom-menu .level-top-mega .magiccategory,.header .custom-menu .level-top-mega .magicproduct{width: 50%; float: left; padding: 0 30px; border-left: 1px solid #d9d9d9; padding-bottom: 9999px; margin-bottom: -9999px; }
.header .magicproduct .price-box p{display: inline-block;}
.header .mage-custom .content-product{width: 60%}
.header .mage-custom .per-product .img-product{width: 40%}
.header .actions-no .actions{bottom: 45px}
.header .item:hover .images-container .actions{right: 3px; bottom: 45px}
.header .item .actions-no .add-to-links li{border-top: 1px solid #959595;}
.mega-block-right .magicproduct ul.magictabs .item,.mega-block-right .mage-custom ul.magictabs .item{padding: 0; text-align: left; display: block; position: relative; border-bottom: 1px solid #d7d7d7; margin-bottom: 22px; padding-top: 10px}
.mega-block-right .magicproduct ul.magictabs .item .title,.mega-block-right  .mage-custom ul.magictabs .item .title{position: absolute; top: 0px; background-color: #fff; padding: 0; border: 0; font-size: 15px; line-height: 15px; color: #020202; padding-right: 5px; opacity: 1}
.mega-block-right .mage-custom .per-product{padding: 20px 0 22px 15px;}
.mega-block-right .mage-custom li.item:first-child .per-product{padding-top: 0}
.header .custom-menu .level-top-mega .content-products{clear: none;}
.header .custom-menu .level-top-mega .block-title-tabs{/*display: none;*/}
.header .custom-menu .level-top-mega .mage-magictabs{margin-bottom: 3px}
.block-left,.block-right,.cat-mega{float:left}
.banner-menu{padding-top: 20px;}
.block-bottom{clear:both}
.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-top{margin: 0px;overflow: hidden;}
.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-top .links-top-menu{text-align:center;background:#eee;}
.magicmenu .nav-desktop .level0 .level-top-mega .content-mega .mage-column .links{float:none;display:inline-block;}
.magicmenu .nav-desktop .level0 .level-top-mega .content-mega .mage-column .links li a{color:#555;line-height:35px;padding:0 15px;}
.magicmenu .nav-desktop .level0 .level-top-mega .content-mega .mage-column .links li a:hover{background-color:#dc1212;color:#fff;}
.magicmenu .nav-desktop .level0 .level-top-mega .content-mega .mage-column .links li.label{color:#555;line-height:35px;font-size:14px;margin:0 5px 0 0;}
.magicmenu .nav-desktop .level0 .level-top .short_desc{display:block;font-size:13px;font-weight:300;line-height:13px;text-transform:capitalize;color:#999}

/**
	ul leve2
**/
.magicmenu .nav-desktop .level0 .level-top-mega .children ul.level1 .hasChild{position: relative;}
.magicmenu .nav-desktop .level0 .level-top-mega .children ul.level1 .hasChild:before{content: "";display: block;line-height: 32px;font-size: 14px;position: absolute;right: 30px;text-align: right;font-family: FontAwesome;}
.magicmenu .nav-desktop .level0 .level-top-mega .children ul.level1 .hasChild ul { position: absolute;left: 100%;opacity: 0;visibility: hidden;top:0;background-color: #fff;box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);padding: 5px 0 5px 30px;min-width: 200px;z-index: 1;}
.magicmenu .nav-desktop .level0 .level-top-mega .children ul.level1 .hasChild:hover > ul{opacity: 1;left: 90%;visibility: visible;}

/**
	rest main-container
 */
.main-container{clear:both}
.magicmenu .nav-desktop .level0 .cat_label,.mode-mobile .mean-container .mean-nav ul li a span.cat_label{background-color:#72bf20;color:#ffffff;font-weight: normal;font-size:11px !important;line-height:18px;padding:0 5px;margin: 0 5px;text-transform:capitalize;position:absolute;}
.magicmenu .nav-desktop .level0 .cat_label:before {border-color: transparent;border-style: solid;border-top-color: #dc1212;border-width: 4px;content: "";height: 0;position: absolute;right: 6px;top: 18px;transition: border-color 450ms ease-in-out 0s;width: 0;}
.magicmenu .nav-desktop .level0 .cat_label.New:before,
.magicmenu .nav-desktop .level0 .cat_label.Map:before {border-top-color: #72bf20;}
.magicmenu .nav-desktop .level0 .level-top-mega .children .level-3 a .cat_label:before,
.magicmenu .nav-desktop .level0 .level-top-mega .children .nav a .cat_label:before {display:none;}
.magicmenu .nav-desktop .level0 .cat_label.Hot{background-color:#dc1212;}
/* Extra Menu*/

/* Vertical Menu*/
.vmagicmenu{display:block;position:relative;padding:0px;z-index: 1;width: 270px;float: left;}
.vmagicmenu .block-vmagicmenu-content{border-top: 3px solid #ff3366;padding: 0px 0 15px;background-color: #fff;min-width: 270px;position: absolute;visibility: hidden;opacity: 0;transition: all 300ms ease-in-out 0s;}
.vmagicmenu .block-vmagicmenu-content .vmagicmenu-narrow{border-left:1px solid #dddddd;margin: 0;}
.vmagicmenu:hover .block-vmagicmenu-content{opacity: 1;visibility: visible;}
.vmagicmenu .block-title{line-height:51px;padding:0 20px;overflow: hidden;}
.vmagicmenu .block-title span{font-size:14px}
.vmagicmenu .block-title .vmagicmenu-subtitle{text-transform:uppercase;padding:0px;float: left;}
.vmagicmenu .block-title .fa{float: right;line-height: 51px;}
.vmagicmenu .level0{padding:0;float:left;line-height:34px;width:100%;list-style: none;}
.vmagicmenu .level0{line-height: 36px;}
.vmagicmenu .level0 .level0{line-height: 28px;}
.vmagicmenu .level0.last{border:none}
.vmagicmenu .level0:hover,.vmagicmenu .level0.active{background-color:#ff3366;}
.vmagicmenu .level0:hover .level0{background-color: transparent;}
.vmagicmenu .level0 .level-top{padding: 0 20px;font-size:100%;text-decoration:none;display:block;outline:medium none}
.vmagicmenu .level0 .level-top img{vertical-align: middle;margin-right: 10px;display: inline-block;}
.vmagicmenu .level0.hasChild .level-top:after{content: "";font-family:FontAwesome;color:#666;float:right;font-style:normal;font-weight:normal;text-decoration:inherit;vertical-align:middle}
.vmagicmenu .level0:hover .level-top:after,.vmagicmenu .level0:hover .level-top{color: #fff;}
.vmagicmenu .level0 .level-top span{font-size:14px;font-family: "Arial",sans-serif;}
.vmagicmenu .level0 .level-top-mega,.vmagicmenu .vmagicmenu-narrow .level0.dropdown > .level0{position: absolute;top: 0px;/* left: 100%; transition:all 300ms ease-in-out 0s;-moz-transition:all 300ms ease-in-out 0s;-webkit-transition:all 300ms ease-in-out 0s;-o-transition:all 300ms ease-in-out 0s;*/left:30px;z-index:999;/*  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;transition: opacity 0.5s, transform 0.5s;-webkit-transition: all 0.45s ease-out 0s;-moz-transition: all 0.45s ease-out 0s;-o-transition: all 0.45s ease-out 0s;transition: all 0.45s ease-out 0s;-moz-transform: translate(100px, 0);-webkit-transform: translate(100px, 0);transform: translate(100px, 0); */opacity: 0;visibility: hidden;border-width: 1px;border-style: solid;margin-left:100%;}
.vmagicmenu .level0:hover .level-top-mega,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown.hasChild:hover > ul{left:0;opacity:1; visibility:visible;/*  -webkit-transform: translate(0,0);-moz-transform: translate(0,0);-o-transform: translate(0,0);-ms-transform: translate(0,0);transform: translate(0,0); */}
.vmagicmenu .level0 .level-top-mega .content-mega{padding:27px;overflow:hidden}
.vmagicmenu .level0 .level-top-mega .children a,.vmagicmenu p{line-height:25px;text-align:left;text-decoration:none}
.vmagicmenu .level0 .level-top-mega .children > a{ border-bottom: 1px solid #e8e8e8;display: block;margin-bottom: 10px;position: relative;}
.vmagicmenu .level0 .level-top-mega .children > a span{font-size: 17px;}   
.vmagicmenu .level0 .level-top-mega .children a span{font-family: "Arial",sans-serif;}
.vmagicmenu .level-top a{color:#fff;font-size:14px;text-decoration:none;text-align:left}
.vmagicmenu .level0 .level-top-mega .content-mega{margin:0}
.vmagicmenu .level0 .level-top-mega .children .level-3{font-size:100%;padding:0 0 5px;line-height:30px}
.vmagicmenu .level0 .level-top-mega .children .level-3 a{font-size:14px;text-transform:uppercase;font-weight:500;}
.vmagicmenu .level0 .level-top-mega .children .nav{line-height:26px;border-bottom:1px solid #ececec}
.vmagicmenu .level0 .level-top-mega .children .nav:last-child{border:none}
.vmagicmenu .level0 .level-top-mega .children > .nav{border:none}
.vmagicmenu .level0 .level-top-mega .children .nav a{font-weight:300}
.vmagicmenu .level0 .level-top-mega .mega-block-top,.vmagicmenu .level0 .level-top-mega .mega-block-bottom{width:100%}
.vmagicmenu .level0 .level-top-mega .mega-block-bottom{clear:both;padding:10px 0 0px}
.vmagicmenu .level0 .level-top-mega .mega-block-bottom .menu-ul{background-color:#f7f7f7;overflow:hidden;padding:15px 25px}
.vmagicmenu .level0 .level-top-mega .mega-block-bottom .menu-ul .title-menu,.vmagicmenu .level0 .level-top-mega .mega-block-bottom .menu-ul .custom-menu-bottom,.vmagicmenu .level0 .level-top-mega .mega-block-bottom .menu-ul .custom-menu-bottom li{float:left;line-height:40px}
.vmagicmenu .level0 .level-top-mega .mega-block-bottom .menu-ul .custom-menu-bottom li{padding:0 10px}
.vmagicmenu .level0 .level-top-mega .mega-block-bottom .menu-ul .title-menu strong{font-weight:300}
.vmagicmenu .level0 .level-top-mega .mega-block-bottom .menu-ul .title-menu span{font-size:14px;color:#888888}
.vmagicmenu .level0 .level-top-mega .mega-block-bottom .menu-ul .custom-menu-bottom li a{color:#888888;text-decoration:none;padding:8px 10px;font-size:14px}
.vmagicmenu .level0 .level-top-mega .mega-block-bottom .menu-ul .custom-menu-bottom li a:hover{background-color:#8ac28f;color:#ffffff}
.vmagicmenu .level0 .level-top-mega .mage-column .children{float:left;width:250px;text-align:left;padding-right: 30px;}
.vmagicmenu .level0 .level-top-mega .mage-column .children ul{list-style: outside none none;}
.vmagicmenu .level0 .cat_label{background-color:#8ac28f;color:#fff;font-size:11px;height:16px;line-height:15px;margin:0 5px;padding:0 5px;position:absolute;text-transform:capitalize;font-weight:300}
.vmagicmenu .level0 .cat_label.Hot{background-color:#b5d575}
.cms-index-index .header-container-fixed .vmagicmenu .block-vmagicmenu-content {opacity: 0;top: 80px;transition: all 300ms ease-in-out 0s;visibility: hidden;}
.cms-index-index .header-container-fixed .vmagicmenu:hover .block-vmagicmenu-content { opacity: 1;top: 100%;visibility: visible;}
.header-container-fixed .border-bottom::before{display: none;}
.header-container-fixed .vmagicmenu{width: 80px;}
.header-container-fixed .vmagicmenu .block-title .vmagicmenu-subtitle{display: none;}
.header-container-fixed .vmagicmenu .block-title{text-align: center;border-left: 1px solid #eaeaea;}
.header-container-fixed .vmagicmenu .block-title:hover{background-color: #fff; }
.header-container-fixed .vmagicmenu .block-title span{color: #999999;}
.cms-index-index .vmagicmenu .block-vmagicmenu-content {opacity: 1;visibility: visible;}
.header-container-fixed .vmagicmenu .block-title .fa{float: none;}
/*.vmagicmenu .vmagicmenu-narrow >li:nth-of-type(n+8) { display: none; }*/
.vmagicmenu .vmagicmenu-narrow >li:nth-child(n+12) { display: none; }
.vmagicmenu .block-vmagicmenu-content .all-cat { display: block; text-align: center; margin-top: 14px;padding-right: 20px;}
.vmagicmenu .block-vmagicmenu-content .all-cat span {border: 1px solid #eaeaea;cursor: pointer;display: block;line-height: 38px;text-align: center;width: 100%;clear: both;font-family: "Arial",sans-serif;}
.vmagicmenu .block-vmagicmenu-content .all-cat span:after {content: "";font: bold 14px/1 FontAwesome;margin-left: 20px;}
.vmagicmenu .block-vmagicmenu-content .all-cat span:hover{color: #fff;background-color: #ff3366;}
/*Test*/
.level-top-mega .mage-column.cat-mega{margin:0;list-style: outside none none;}
.vmagicmenu .level0 .level-top-mega .content-mega{}
.fixed{z-index:999;width:100%}
.fixed .custom-menu{padding-bottom:7px;padding-top:10px;box-shadow:0 0 6px 0 rgba(0,0,0,0.2)}
.fixed .quick-access{display:none}
@media only screen and (min-width:768px){.nav-mobile{display:none !important;}}
/* hide the link until viewport size is reached */
a.meanmenu-reveal{display:none}
/* when under viewport size,.mode-mobile .mean-container is added to body */
.mode-mobile .mean-container .mean-bar{background-color: transparent; border: 2px solid #212121; width: 31px; height: 31px; margin-left: 30px}
.mode-mobile .mean-container .mean-bar{position:static;float: right;}
.mode-mobile .mean-container a.meanmenu-reveal{line-height: 15px; padding:8px 5px;position:relative;z-index: 32;top:0;right:0;cursor:pointer;outline:medium none; text-decoration:none;font-size:16px;text-indent:-9999em; font-size:1px;display:block;font-weight:700; color: #212121}
.mode-mobile .mean-container a.meanmenu-reveal span{display:block;background:#212121; height:3px;margin-top:3px}
.mode-mobile .mean-container a.meanmenu-reveal span:first-child{margin-top: 0}
.mode-mobile .mean-container .mean-nav{float:left;width: 100%;position: absolute;background-color: #fff;z-index: 2;left: 0; top: 100%}
.mode-mobile .mean-container .mean-nav .mobi-title{color:#242628;font-size:16px;line-height:52px;margin:0;padding:0 0 0 50px;text-align:left;text-transform:uppercase;font-weight: 400;position: absolute;top: -56px;z-index: 0;display: none;}
.mode-mobile .mean-container .mean-nav ul{padding:0;margin:0;width:100%;list-style-type:none}
.mode-mobile .mean-container .mean-nav ul li{position:relative;float:left;width:100%}
.mode-mobile .mean-container .mean-nav ul li a{display:block;/*padding:10px 0;*/ line-height: 38px;margin:0;text-align:left;color:#212121;border-bottom:1px solid #565656;text-decoration:none;text-transform:capitalize}
.mode-mobile .mean-container .mean-nav ul li a span{font-size:15px;padding:0 15px; font-family: "Montserrat"; color: #fff}
.mode-mobile .mean-container .mean-nav ul li a:hover span{color: #b99867}
.mode-mobile .mean-container .mean-nav ul li ul li a span.cat_label{background-color:#5ba0d0;color:#fff;font-size:11px;font-weight:300;height:16px;line-height:15px;margin:0 5px;padding:0 5px;position:absolute;text-transform:capitalize}
.mode-mobile .mean-container .mean-nav ul li ul li a span.cat_label.Hot{background-color:#fe5858}
.mode-mobile .mean-container .mean-nav ul li li a{padding: 0 20px;filter:alpha(opacity=75);visibility:visible;}
.mode-mobile .mean-container .mean-nav ul li.mean-last a{margin-bottom:0}
.mode-mobile .mean-container .mean-nav ul li li li a{padding: 0 40px;}
.mode-mobile .mean-container .mean-nav ul li li li li a{padding:1em 20%}
.mode-mobile .mean-container .mean-nav ul li li li li li a{padding:1em 25%}
.mode-mobile .mean-container .mean-nav ul li a:hover{color:#999;}
.mode-mobile .mean-container .mean-nav ul li a.mean-clicked, .mode-mobile .mean-container .mean-nav ul li a.mean-expand{width:30px;height:30px;position:absolute;right:5px;top:5px;z-index:2;background-repeat: no-repeat; background-position: center center; text-indent: 9999px; border-bottom: 0; padding: 0; outline: none;}
.mode-mobile .mean-container .mean-nav ul li a.mean-expand{background-image: url("../images/opener.png");}
.mode-mobile .mean-container .mean-nav ul li a.mean-clicked{background-image: url("../images/opener-active.png");}

/*Font-size*/
.mode-mobile .mean-container .mean-nav ul li.level0 > a span{font-size: 16px; text-transform: uppercase;}
.mode-mobile .mean-container .mean-nav ul li.level0 > ul > li > a span{font-size: 16px}
.mode-mobile .mean-container .mean-nav ul li.level2 > a span{font-size: 14px}
/*Background color*/
.mode-mobile .mean-container .mean-nav > ul > li > a{background-color: #2d2d2d}
.mode-mobile .mean-container .mean-nav ul li.level0 > ul > li a{background-color: #3f3f3f}

/*.mode-mobile .mean-container .mean-nav ul li a.mean-expand:hover{background:#212121;color:#fff}*/
.mode-mobile .mean-container .mean-push{float:left;width:100%;padding:0;margin:0;clear:both}
.mean-nav .wrapper{width:100%;padding:0;margin:0}
/* Fix for box sizing on Foundation Framework etc. */
.mode-mobile .mean-container .mean-bar,.mode-mobile .mean-container .mean-bar *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.mean-remove{display:none!important}

/*Ext menu*/
.level0.ext .level-top-mega{padding: 15px 25px 5px}
.level0.ext .level-top-mega ul li{text-align: left;}
.level0.ext .level-top-mega ul li a span{font-size: 14px; color: #fff; line-height: 30px; text-transform: capitalize; padding-left: 10px; display: block;}
.level0.ext .level-top-mega ul li a:hover span{background-color: #b99867}

.magicmenu .nav-desktop .level0.home .level-top-mega:after{position: absolute; content: ""; top: -10px; left: calc(50% - 30px); border-width: 10px; border-color: transparent; border-bottom-color: #373737; border-style: solid; z-index: 9;}
.magicmenu .nav-desktop .level0.home:hover .level-top:before{display: none;}arent; border-bottom-color: #373737; border-style: solid; z-index: 9;}