<?php
/**
 * Magiccart 
 * @category    Magiccart 
 * @copyright   Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license     http://www.magiccart.net/license-agreement.html
 * @Author: Magiccart<team.magiccart@gmail.com>
 * @@Create Date: 2014-07-31 15:41:21
 * @@Modify Date: 2015-11-06 16:17:19
 * @@Function:
 */
 ?>
<?php if(!$this->config['enabled']) return;?>
<?php $title = isset($this->config['title']) ? $this->config['title'] : ''; ?>
<?php $varchar = isset($this->config['varchar']) ? $this->config['varchar'] : 500; ?>
<?php $selector = $this->generateRandomString(); //md5(rand()); //rand(0,666666); ?>
<div class="section-container">
<?php 
    $testimonials = $this->getTestimonials();
    if(count($testimonials)) : ?>
        <div id="<?php echo $selector ?>">
                <?php echo $title ? '<h3 class="block-title section-title">'.$this->__($title).'</h3>' : '' ?>
            <div class="block-content">
                <div class="container">
                    <ul class="testimonial">
                    <?php foreach ($testimonials as $testimonial) :?>
                        <li>
                            
                            <?php if($this->config['avatarDisplay']): ?>
                                <div class="customer">
                                <a href="#">
                                <img class="avatar" src="<?php echo $this->getImage($testimonial)?>" alt="<?php echo $this->__($testimonial->getTitle()) ?>" title="<?php echo $this->__($testimonial->getTitle()) ?>" />
                                </a>
                                </div>
                            <?php endif ?>
                            
                            <div class="testimonial_text" style="display:none">
                                <span class="sub-text">
                                        <?php 
                                            $text   = $testimonial->getText();
                                            if(strlen($text) <= $varchar):
                                        ?>
                                            <?php echo $text ?>
                                        <?php else: ?>
                                            <?php echo substr($text, 0,  $varchar); ?>
                                            <a href="<?php echo $this->getUrl('testimonial/index/view/id/'.$testimonial->getTestimonialId()); ?>"><?php echo $this->__('more'); ?></a>
                                        <?php endif ?>
                                </span>
        						
        						<?php if($this->config['starDisplay']): ?>
        							<div class="rating-box"><div class="rating" style="width:<?php echo ceil($testimonial->getRatingSummary() * 20) ?>%;"></div></div>
        						<?php endif ?>
        						<div class="title-divider"><span>&nbsp;</span></div>
                                <div class="header-testi">
                                    <p class="title-name"><?php echo $testimonial->getName(); ?></p>
                                    <div class="company-testimonial">
                                       <span><?php echo $testimonial->getCompany(); ?></span>
                                    </div>
                                </div>
                            </div>
                            
                        </li>
                    <?php endforeach ?>
                    </ul>
                    <div class="testimonial-caption zoomIn"></div>
                </div>
            </div>
        </div>
<?php else : ?> 
        <p class="testimonial_text">
            <?php echo $this->__('Hey!! How did you find my site and my products? Please leave your valued feedback here to make us serve you better.');?>
        </p>
<?php endif ?>
    <div class="actions">
        <?php if($testimonials->count() > 0) { ?>
          <!--<a href="<?php //echo $this->getUrl('testimonial'); ?>"><?php //echo $this->__('View All Testimonials'); ?></a> -->
        <?php } else { ?>
            <a href="<?php echo $this->_getWriteUrl()?>"><?php echo $this->__('Write Testimonial'); ?></a>
        <?php } ?>
      </div>
</div>
<script type="text/javascript">
    jQuery( document ).ready(function($) {
        (function(selector){
            var $content = $(selector);
            var $slider  = $('.testimonial', $content);
            $slider.bxSlider({
                onSliderLoad: function() {
                    if(this.visibleItems % 2 == 0){
                        $slider.children().addClass('active-slide');
                    }else {
                        var active = Math.round(this.visibleItems/2);
                        if(active > 1) {
                            var item = $slider.children().not('.bx-clone').slice(active -1, active).addClass('active-slide');
                            $content.find('.testimonial-caption').html(item.find('.testimonial_text').html());
                        }else {
                            $slider.children().addClass('active-slide');
                        }
                    }
                },
                onSlideNext: function(currentSlider) {
                    if(this.visibleItems % 2 != 0 && Math.round(this.visibleItems/2) > 1){
                        var currentActive = $slider.children('.active-slide');
                        $slider.children('.active-slide').removeClass('active-slide');
                        if(currentActive.hasClass('bx-clone')){
                            var activeSlide = currentSlider.next().next().addClass('active-slide');
                        }else {
                            var activeSlide = currentActive.next().addClass('active-slide');
                        }

                        $content.find('.testimonial-caption').html(activeSlide.find('.testimonial_text').html()).hide().fadeIn(); // refesh effect: .hide().fadeIn();
                    }
                        // var activeSlide = currentSlider.nextAll().andSelf().slice(1, 2);
                        // console.log(activeSlide);
                },
                onSlidePrev: function(currentSlider) {
                    if(this.visibleItems % 2 != 0 && Math.round(this.visibleItems/2) > 1){
                        $slider.children('.active-slide').removeClass('active-slide');
                        var activeSlide = currentSlider.next().next().addClass('active-slide');
                        $content.find('.testimonial-caption').html(activeSlide.find('.testimonial_text').html()).hide().fadeIn(); // refesh effect: .hide().fadeIn();
                    }
                    // var activeSlide = currentSlider.nextAll().andSelf().slice(1, 2);
                    // console.log(activeSlide);
                },
                // mode: 'fade',
                <?php echo $this->getBxslider() ?>
            });

        })("#<?php echo $selector ?>");
    });
</script>

